.App{
  margin: 0;
  padding: 0;
  background-color: rgb(255, 255, 255);
  position: relative;
  width: 100vw; /* Define a largura do elemento pai para 100% da largura da tela */
  height: 100vh; 
  display: flex;
  flex-direction: column; 
};