.app-header {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.body , html{
  height: 100%; 
  margin: 0; 
}

.corpo {
  display: flex;
  min-height: calc(100vh - 100px); /* Subtrair a altura do cabeçalho */
  min-height: 100vh; /* Garantir que a div .corpo ocupe toda a altura da tela */
  margin-top: 50px;
  margin-bottom: 50px;
}

.corpo.escuro {
  background-color: #000000;
  color: #f0f0f0;
}
.corpo.claro {
  background-color: #ffffff;
  color: #000000;
}

.cabecalho {
  justify-content: left;
  align-items: center;
  padding: 5px;
  display: flex;
  top: 0; 
  width: 100%;
  position: fixed; 
  border-bottom: 0px;
  background-color: rgb(122, 122, 122)
}

.texto-container {
  border: 0px;
  padding: 0px;
  font-size: 24px;
  display: inline;
  position: relative;
}
.blinking-cursor {
  position: absolute;
  bottom: 0;
  right: 0;
  animation: blink-animation 1s steps(2, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}


.perfil {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  bottom: 40;
  right: 40; 
}

.sobre {
  padding: 10px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  margin: 20vh 10vw;
  border-radius: 15px;
  box-shadow: 3px 3px 8px 3px rgba(165, 165, 165, 0.9);
}

.rodape {
  justify-content: center;
  display: flex;
  bottom: 0;
  left: 0;
  padding: 25px; 
  width: 100%;
  position: fixed; 
  background-color: rgb(122, 122, 122);
}

.botao {
  background-color: white;
  color: black;
  border: 0px;
  padding: 10px 20px;
  border-radius: 30px;
  cursor: pointer;
  position: fixed;
  top: 10%;
  transform: translateY(-50%);
  right: 20px;
  z-index: 999; /* Garanta que o botão esteja acima de outros elementos */
}
.botao:hover {
  box-shadow: 3px 3px 8px 3px rgba(75, 75, 75, 0.9);
}

::-webkit-scrollbar {
  width: 5px; /* largura da barra de rolagem */
}
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}